<!--<h1>User Login</h1>
<input [(ngModel)]="loginPayload.email" type="email" name="email" placeholder="Email">
<input [(ngModel)]="loginPayload.password" type="password" name="password" placeholder="Password">
<button (click)="login()">Login</button>-->

<!--<div class="g-signin2"></div>-->
<!--<button id="googleSignin">Sign in</button>-->

<h1>Login</h1>


<div *ngIf="isLoggedin() !== null">Hello {{ (user | async)?.displayName | json }}</div>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<!--<button (click)="onAuthStateChanged()">Toggle onAuthStateChanged</button>-->