<h1>Welcome to Mudika Vancouver</h1>
<nav>
    <ul>
        <!--<li *ngIf="!webService.isAuthenticated"><a routerLink="/login">Sign in</a></li>-->
        <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
        <login *ngIf="!googleSigninService.isAuthenticated"></login>
        <a href="#" *ngIf="googleSigninService.isAuthenticated" (click)="googleSigninService.signOut()">Sign out</a>        
        <!--<li *ngIf="webService.isAuthenticated"><button (click)="webService.logout()">Sign out</button></li>-->
    </ul>
</nav>
<router-outlet></router-outlet>