<!--<h1>
  {{title}}
</h1>-->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             <a class="navbar-header page-scroll" href="#page-top">
 
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="http://i.imgur.com/9WqspyY.png" /></a>
                <a class="navbar-brand page-scroll" href="#page-top">{{title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#activities">Activities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cellgroups">Cell Groups</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ministries">Ministries</a>
                    </li>
                    <li>
                        <a href="http://mudikaretreat2015.eventzilla.net" target="_blank">Retreat</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mass">Mass</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>